[submodule "SingleCellCBC"]
	path = SingleCellCBC
	url = https://github.com/MarkBlyth/SingleCellCBC.git
[submodule "spectralgp"]
	path = spectralgp
	url = https://github.com/MarkBlyth/spectralgp.git
[submodule "nssm-gp"]
	path = nssm-gp
	url = https://github.com/sremes/nssm-gp.git
