[submodule "SingleCellCBC"]
	path = SingleCellCBC
	url = https://github.com/MarkBlyth/SingleCellCBC.git
[submodule "spectralgp"]
	path = spectralgp
	url = https://github.com/MarkBlyth/spectralgp.git
[submodule "BarsNWrapper"]
	path = BarsNWrapper
	url = https://github.com/MarkBlyth/BarsNWrapper.git
